*,
:before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.very-specific-design {
  width: 1000px;
  height: 720px;
  padding: 50px;
  text-align: center;
  background: white;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, 0,0);
          transform: translate3d(-50%, 0,0);
  -webkit-transform-origin: center top;
          transform-origin: center top;
}

.scaleable-wrapper {
  padding: 20px;
  resize: both;
  position: relative;
  height: 400px;
}

a {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  perspective: 1200px;
  display: none;
}
.view.view--block {
  display: block;
}
.view.view--visible .view__inner {
  transform: rotate(0deg) !important;
  opacity: 1 !important;
}
.view.view--up .view__inner {
  transform: rotateX(-90deg);
  transform-origin: 50% 0%;
  opacity: 0;
}
.view.view--down .view__inner {
  transform: rotateX(90deg);
  transform-origin: 50% 100%;
  opacity: 0;
}
.view:nth-child(2n) .view__inner {
  background-color: #ED6464;
}
.view:nth-child(3n) .view__inner {
  background-color: #3B69FA;
}
.view:nth-child(4n) .view__inner {
  background-color: #AC92EC;
}

.view__inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  background-color: #3B69FA;
  transition: opacity 0.6s ease;
  transition-property: opacity, transform;
}


.lista{
  text-align: left;
}
.boton{
  margin-top: 236px;
  margin-left: 620px;
  color: #FF6A00;
  font-size: 2em;
  cursor: pointer;
  transition: all 0.5s ease-out 100ms;
  height: 100px;
}
.boton2{
  display: flex;
  margin-top: 32px;
  margin-left: 544px;
  color: #FFF;
  font-size: 2em;
  cursor: pointer;
  transition: all 0.5s ease-out 100ms;
  z-index: 10;
}


.boton:hover{
  opacity: .5;
}

.titulo{
  font-size: 2em;
  font-weight: bolder;
}

.fila1{
  width: 90%;
  height: 83%;
  margin-left: 5% !important;
  padding: 20px;
  border-radius: 20px;
  background-color: #524AA7;
  padding-top: 48px;
  padding-left: 40px;
}

.fila2{
  width: 90%;
  height: 79%;
  margin-left: 5% !important;
  margin-top: 20px !important;
  padding: 20px;
  border-radius: 20px;
  background-color: #524AA7;
}
.filaf{
  width: 90%;
  height: 83%;
  margin-left: 5% !important;
  padding: 20px;
  border-radius: 20px;
  background-color: #524AA7;
  padding-top: 48px;
  padding-left: 40px;
  margin-top: 10px !important;
}
.bfinal{
  color: #FFF;
  margin-left: 278px;
  margin-top: 55px;
}

.botonr{
  position: absolute !important;
  margin-top: 458px;
  margin-left: -291px;
  color: #FFF;
  font-size: 2em;
  cursor: pointer;
  transition: all 0.5s ease-out 100ms;
  z-index: 8;
  width: 50%;
}

.botonr2{
  position: absolute !important;
  margin-top: 458px;
  margin-left: -319px;
  color: #FFF;
  font-size: 2em;
  cursor: pointer;
  transition: all 0.5s ease-out 100ms;
  z-index: 8;
  width: 50%;
}

.precio{
  margin-top: 68px;
}

.parrafo{
  width:91.8%;
  margin-left: 34px;
  margin-top: 35px;
}
.parrafo1{
  width: 99.8%;
  margin-left: -83px !important;
}

.iframe1{
  margin-left: -71px;
  margin-top: -37px;
}

.bfinal2{
  color: #FFF;
  margin-left: 1px;
  margin-top: 331px;
  position: fixed;
  z-index: 5;
  height: 1px;
}

.texto{
  font-size: 18px;
}

.ima1{
  width: 357px !important;
  margin-top: -35px;
  margin-left: 1px;
}

.fotonf{
  position:absolute;
  height: 100px;
  z-index: 0;
  height: 1px !important;
  margin-top: -89px !important;
}

.b2{
  margin-left: 632px;
}

.br2{
  margin-left: -315px;
}